.desktop-only {
  @media (max-width: 1280px) {
    display: none;
  }
}

.main {
  padding: 0 120px 0 45px;

  @media (max-width: 1900px) {
    padding: 0 40px;
  }

  @media (max-width: 1440px) {
    padding: 0 30px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  &__top {
    display: flex;
    padding: 15px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid $lightgrey1;

    @media (max-width: 1024px) {
        display: none;
    }

    &--left {
      display: flex;
      gap: 40px;

      @media (max-width: 1900px) {
        gap: 20px;
      }

      @media (max-width: 1440px) {
        gap: 15px;
      }
    }

    &--right {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: auto;

      @media (max-width: 1440px) {
        gap: 10px;

        .button {
          padding: 18px 20px;
        }
      }
    }

    &--item {
      display: flex;
      align-items: center;
      gap: 6px;

      &-img {
        @media (max-width: 1280px) {
          max-height: 20px;
        }
      }

      span,
      a {
        color: $black;
        font-size: 16px;
        text-decoration: none;

        @media (max-width: 1680px) {
          font-size: 13px;
        }

        @media (max-width: 1280px) {
          font-size: 12px;
        }
      }

      a {
        font-weight: 600;

        &:hover {
          color: lighten($black, 30%);
        }
      }
    }
  }
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  &__button {
    border-radius: 50%;
    background-color: white;
    border: 1px solid $lightgrey6;
    width: 56px;
    height: 56px;
    position: relative;
    cursor: pointer;
    font-size: 0;
    z-index: 1;
    transition: 0.3s;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url(../img/icons/search.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $lightgrey1;
    }
  }
  &__input {
    border-radius: 36px;
    background: #fff;
    position: absolute;
    right: -4px;
    outline: none;
    min-width: 0;
    transition: 0.3s;
    width: 0;
    padding: 0;
    border: 0;
    opacity: 0;

    &.is-active {
      width: auto;
      padding: 23px 48px;
      opacity: 1;
      min-width: calc(100vw - 750px);
      border: 1px solid #ccd5e7;
      @media (max-width: 1900px) {
        min-width: calc(100vw - 660px);
      }
      @media (max-width: 1440px) {
        min-width: calc(100vw - 500px);
      }
    }
  }
}

.circle {
  color: $green;
  background-color: white;
  filter: drop-shadow(0px 0px 51px rgba(26, 59, 159, 0.2));
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 57px;

  @media (max-width: 768px) {
    margin: 0 0 50px;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 40px;
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 24px;
        background-color: $black;
        display: block;
        bottom: 9px;
        left: calc(100% + 9px);
      }
    }

    a {
      color: $black;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: lighten($black, 30%);
      }
    }

    span {
      color: $lightgrey3;
    }
  }
}

.doctor {
  &-list {
    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 60px 20px;
      margin-top: 60px;

      @media (max-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1280px) {
        gap: 20px;
      }

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
      }
    }
    &__card {
      border-radius: 16px;
      padding: 26px 20px 36px;
      height: 410px;
      width: 100%;
      background-color: $lightgrey4;
      position: relative;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &:hover {
        .doctor-list__img {
          min-height: 105%;
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 1;
        background: linear-gradient(180deg, rgba(242, 243, 245, 0.2) 0%, rgba(118, 126, 143, 0.5) 47.4%, #767e8f 100%);
      }

      span {
        color: white;
      }
    }
    &__data {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
    }
    &__surname {
      font-size: 24px;
      font-weight: 900;
      display: block;

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    &__name {
      font-size: 18px;
      font-weight: 900;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
    &__role {
      margin-top: 20px;

      @media (max-width: 576px) {
        margin-top: 10px;
        font-size: 14px;
      }
    }
    &__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      min-height: 100%;
      transition: min-height 0.3s;
    }
    &__heart {
      background-image: url(../img/icons/heart.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 39px;
      display: inline-block;
      position: absolute;
      top: 26px;
      left: 20px;
      padding: 5px 0 0;
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 900;
      line-height: 1.5;
    }
  }
}

.call {
  &__section {
    margin: 150px 0 120px;

    .form {
      position: relative;
      z-index: 2;
    }

    @media (max-width: 1024px) {
      margin: 100px 0;
    }
  }
  &__textbox {
    position: relative;
    z-index: 2;
  }
  &__box {
    padding: 50px 60px;
    background-color: $lightgrey1;
    border-radius: 16px;
    position: relative;

    .h2 {
      margin: 0 0 15px;
    }

    @media (max-width: 1440px) {
      padding: 30px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 120px;
    z-index: 1;
    max-height: 450px;

    @media (max-width: 1440px) {
      right: 40px;
    }

    @media (max-width: 1024px) {
      right: 0;
      max-height: 360px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.form {
  margin: 55px 0 0;
  display: flex;
  flex-direction: column;
  @media (max-width: 1280px) {
    margin: 35px 0 0;
  }
  &__row {
    gap: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    @media (max-width: 1280px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
    }

    &--name {
      color: $black;
      margin-bottom: 8px;
    }
    &--input {
      font-size: 16px;
      padding: 18px 19px;
      border-radius: 6px;
      border: 1px solid #ccd5e7;
      outline: none;
      min-width: 300px;
      color: $black;

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (max-width: 576px) {
        min-width: 100%;
      }
    }
    &--required {
      color: $red;
    }
  }
  &__confirm {
    font-size: 14px;
    color: $black;
    a {
      color: $black;
      text-decoration-color: $red;
    }
    @media (max-width: 1280px) {
      max-width: 320px;
    }
  }
}

.contact {
  &__row {
    display: flex;
    gap: 35px;
    padding: 0 20px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }
  }
  &__card {
    flex-grow: 1;
    flex-basis: 25%;
    &--text {
      color: $black;
      font-size: 20px;
      display: flex;
      flex-direction: column;

      a {
        color: $black;
        text-decoration: none;
      }

      @media (max-width: 1280px) {
        font-size: 16px;
      }
    }
  }

  &__map {
    margin-top: 100px;
    &-frame {
      width: 100%;
      height: 550px;

      div,
      iframe {
        height: 100%;
      }

      @media (max-width: 1280px) {
        height: 300px;
      }
    }

    @media (max-width: 1024px) {
      margin-top: 80px;
    }
  }
}

.review {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__card {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 51px 0px rgba(26, 59, 159, 0.07);
    padding: 40px 40px 60px;
    @media (max-width: 1024px) {
      padding: 30px;
    }
    &--top {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
      }

      &-img {
        margin-right: 20px;

        @media (max-width: 1280px) {
          margin-right: 10px;
        }
      }
      &-name {
        font-weight: 600;
        color: $black;
        margin: 0 0 3px;

        @media (max-width: 1280px) {
          font-size: 14px;
        }
      }
      &-date {
        color: $lightgrey5;
        margin: 0;

        @media (max-width: 1280px) {
          font-size: 14px;
        }
      }
      &-stars {
        margin-left: auto;
        max-height: 22px;

        @media (max-width: 1280px) {
          max-height: 16px;
        }

        @media (max-width: 1024px) {
          margin-left: 0;
        }
      }
    }
    &--text {
      font-size: 16px;
      color: $black;

      p {
        margin-top: 0;
      }
    }
  }
}

.service {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
    margin-top: 60px;
    @media (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1280px) {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 576px) {
      margin-top: 40px;
    }
  }
  &__icon {
    max-height: 60px;

    @media (max-width: 576px) {
      max-height: 40px;
    }
  }
  &__card {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 51px 0px rgba(26, 59, 159, 0.07);
    display: flex;
    flex-direction: column;
    &--heading {
      display: flex;
      align-items: center;
      gap: 28px;
      padding: 30px 40px;
      border-bottom: 1px solid $lightgrey1;

      @media (max-width: 576px) {
        padding: 20px;
      }

      &-name {
        font-weight: 700;
        font-size: 24px;
        color: $black;

        @media (max-width: 576px) {
          font-size: 18px;
        }
      }
    }
    &--body {
      padding: 30px 40px;

      @media (max-width: 576px) {
        padding: 20px;
      }
    }
    &--list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 35px;

      a {
        color: $black;
        text-decoration-color: $red;
        transition: color 0.3s;
        display: none;

        &:nth-child(-n + 5) {
          display: inline-block;
        }

        &:hover {
          color: lighten($black, 30%);
        }
      }

      &.is-open {
        a {
          display: inline-block;
        }
        + .service__card--more {
          display: none;
        }
      }
    }
    &--more {
      color: $green;
      text-decoration: none;
      border-bottom: 1px solid dashed;
      margin-top: auto;
      display: inline-block;
      transition: color 0.3s;

      &:hover {
        color: darken($green, 10%);
      }
    }
  }
}
