.main {
  padding: 0 120px 0 45px;

  @media (max-width: 1280px) {
    padding: 0 40px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  &__top {
    display: flex;
    gap: 40px;
    margin: 36px 0 66px;

    @media (max-width: 1440px) {
      gap: 25px;
    }

    @media (max-width: 768px) {
      margin: 20px 0 40px;
    }

    &--item {
      display: flex;
      align-items: center;
      gap: 6px;

      &-img {
        @media (max-width: 1280px) {
          max-height: 20px;
        }
      }

      span,
      a {
        color: $black;
        font-size: 16px;
        text-decoration: none;
        transition: opacity 0.3s;

        @media (max-width: 1280px) {
          font-size: 13px;
        }

        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }

      a {
        font-weight: 600;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 57px;

  @media (max-width: 768px) {
    margin: 0 0 50px;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 40px;
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 24px;
        background-color: $black;
        display: block;
        bottom: 9px;
        left: calc(100% + 9px);
      }
    }

    a {
      color: $black;
      text-decoration: none;
    }

    span {
      color: $lightgrey3;
    }
  }
}

.doctor {
  &-list {
    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 60px 20px;

      @media (max-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1280px) {
        gap: 20px;
      }

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__card {
      border-radius: 16px;
      padding: 26px 20px 36px;
      height: 410px;
      width: 100%;
      background-color: $lightgrey4;
      position: relative;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &:hover {
        .doctor-list__img {
          min-height: 105%;
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 1;
        background: linear-gradient(180deg, rgba(242, 243, 245, 0.2) 0%, rgba(118, 126, 143, 0.5) 47.4%, #767e8f 100%);
      }

      span {
        color: white;
      }
    }
    &__data {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
    }
    &__surname {
      font-size: 24px;
      font-weight: 900;
      display: block;

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    &__name {
      font-size: 18px;
      font-weight: 900;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
    &__role {
      margin-top: 20px;

      @media (max-width: 576px) {
        margin-top: 10px;
        font-size: 14px;
      }
    }
    &__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      min-height: 100%;
      transition: min-height 0.3s;
    }
    &__heart {
      background-image: url(../img/icons/heart.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 39px;
      display: inline-block;
      position: absolute;
      top: 26px;
      left: 20px;
      padding: 5px 0 0;
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 900;
      line-height: 1.5;
    }
  }
}

.call {
  &__section {
    margin: 150px 0 120px;

    .form {
      position: relative;
      z-index: 2;
    }

    @media (max-width: 1024px) {
      margin: 100px 0;
    }
  }
  &__textbox {
    position: relative;
    z-index: 2;
  }
  &__box {
    padding: 50px 60px;
    background-color: $lightgrey1;
    border-radius: 16px;
    position: relative;

    .h2 {
      margin: 0 0 15px;
    }

    @media (max-width: 1440px) {
      padding: 30px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 120px;
    z-index: 1;
    max-height: 450px;

    @media (max-width: 1440px) {
      right: 40px;
    }

    @media (max-width: 1024px) {
      right: 0;
      max-height: 360px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.form {
  margin: 55px 0 0;
  display: flex;
  flex-direction: column;
  @media (max-width: 1280px) {
    margin: 35px 0 0;
  }
  &__row {
    gap: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    @media (max-width: 1280px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
    }

    &--name {
      color: $black;
      margin-bottom: 8px;
    }
    &--input {
      font-size: 16px;
      padding: 18px 19px;
      border-radius: 6px;
      border: 1px solid #ccd5e7;
      outline: none;
      min-width: 300px;
      color: $black;

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (max-width: 576px) {
        min-width: 100%;
      }
    }
    &--required {
      color: $red;
    }
  }
  &__confirm {
    font-size: 14px;
    color: $black;
    a {
      color: $black;
      text-decoration-color: $red;
    }
    @media (max-width: 1280px) {
      max-width: 320px;
    }
  }
}

.contact {
  &__row {
    display: flex;
    gap: 35px;
    padding: 0 20px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }
  }
  &__card {
    flex-grow: 1;
    flex-basis: 25%;
    &--text {
      color: $black;
      font-size: 20px;
      display: flex;
      flex-direction: column;

      a {
        color: $black;
        text-decoration: none;
      }

      @media (max-width: 1280px) {
        font-size: 16px;
      }
    }
  }

  &__map {
    margin-top: 100px;
    &-frame {
      width: 100%;
      height: 550px;

      div,
      iframe {
        height: 100%;
      }

      @media (max-width: 1280px) {
        height: 300px;
      }
    }

    @media (max-width: 1024px) {
      margin-top: 80px;
    }
  }
}

.review {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &__card {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 51px 0px rgba(26, 59, 159, 0.07);
    padding: 40px;
  }
}
