.aside {
  border-right: 1px solid $lightgrey1;
  min-height: 100vh;
  position: relative;
  min-width: 330px;
  padding: 40px 60px 40px 105px;

  @media (max-width: 1440px) {
    min-width: 220px;
    padding: 35px;
  }

  @media (max-width: 1024px) {
    display: none;
  }

  &__float {
    position: sticky;
    top: 40px;
    min-height: 90vh;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
  }

  &__tel {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: auto;
    &--right {
      display: flex;
      flex-direction: column;
    }
    &--icon {
      border: 1px solid $lightgrey6;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
    }
    &--number {
      color: $red;
      font-size: 48px;
      font-weight: 700;
      text-decoration: none;
      line-height: 1.15;

      @media (max-width: 1440px) {
        font-size: 40px;
      }
    }
    &--operator {
      color: $lightgrey5;
      font-weight: 700;
    }
  }
}

.logo {
  img {
    @media (max-width: 1440px) {
      width: 120px;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 70px 0;

    &--item {
      margin-bottom: 56px;

      @media (max-width: 1680px) {
        margin-bottom: 30px;
      }

      a,
      button {
        color: $black;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        transition: color 0.3s;
        background-color: transparent;
        border: 0;
        text-align: left;
        padding: 0;
        cursor: pointer;

        @media (max-width: 1680px) {
          font-size: 18px;
        }

        &:hover {
          color: lighten($black, 30%);
        }
      }

      .dropdown {
        &__button {
          &--container {
            display: inline-flex;
            position: relative;
            gap: 7px;

            &.is-active {
              .arrow {
                transform: rotate(90deg);
              }
              + .nav__list--dropdown {
                display: flex;
                flex-direction: column;
                margin: 20px 0 0 10px;
                gap: 10px;
  
                a {
                  font-weight: 400;
                  font-size: 14px;
                }
              }
            }

            .arrow {
              background-image: url(../img/icons/arrow-right.svg);
              background-size: contain;
              background-repeat: no-repeat;
              width: 7px;
              height: 11px;
              display: inline-block;
              position: absolute;
              right: -14px;
              top: 8px;
              transition: transform 0.3s;
              font-size: 0;
              cursor: pointer;
            }
          }
        }
      }
    }

    &--dropdown {
      display: none;
    }

    @media (max-width: 1440px) {
      margin: 40px 0;
    }
  }
}

.main {
  &__header {
    margin: 0 -20px;
    position: relative;

    @media (max-width: 1024px) {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9;
      background: white;
      overflow-y: visible;
    }

    &--top {
      display: none;
      padding: 20px;
      margin-bottom: 35px;
      border-bottom: 1px solid $lightgrey1;
      align-items: center;

      @media (max-width: 1024px) {
        display: flex;
        width: 100%;
        margin-bottom: 0;
      }

      .logo {
        order: 1;
        img {
          max-width: 124px;
        }
      }

      .aside__tel {
        margin-left: auto;
        order: 2;

        &--number {
          font-size: 32px;
        }

        &--operator {
          font-size: 10px;
        }
      }
    }
    &--list {
      display: none;
      .main__top--right {
        flex-direction: row-reverse;
        justify-content: center;
        .button {
          min-width: 200px;
        }
        .search__input {
          padding: 23px;
          min-width: 280px;
          font-size: 12px;
        }
      }
      .main__top--left {
        flex-direction: column;
        align-items: flex-start;
        max-width: 280px;
        margin: auto;
        padding: 40px 0;
        margin-top: 40px;
        border-top: 1px solid $lightgrey1;
      }
      .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 260px;
        margin: 40px auto;
      }
    }
  }
}

.header__open {
  overflow-y: hidden;
  &:before {
    content: '';
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .main__header {
    min-height: 100vh;
    &--list {
      display: block;
      max-height: calc(100vh - 91px);
      overflow-y: auto;
    }
  }

  .burger {
    background-image: url(../img/icons/burger-close.svg);
  }
}

.burger {
  background-image: url(../img/icons/burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 20px;
  order: 3;
  margin-left: 15px;
}
