.button {
  border-radius: 50px;
  background-color: $red;
  color: white;
  padding: 18px 36px;
  font-weight: 600;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    background-color: darken($red, 10%);
  }

  &--green {
    background-color: $green;
    &:hover {
      background-color: darken($green, 10%);
    }
  }

  &--white {
    background-color: white;
    color: $black;
    border: 1px solid $lightgrey6;

    &:hover {
      color: white;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid $lightgrey6;
    color: white;

    &:hover {
      border-color: darken($red, 10%);
      color: white;
    }
  }

  &--fav {
    background-color: transparent;
    border: 1px solid $lightgrey6;
    font-size: 0;
    min-width: 68px;
    height: 68px;
    background-image: url(../img/icons/fav.svg);
    background-position: center 16px;
    background-size: 36px;
    background-repeat: no-repeat;

    &.is-active {
      background-color: $red;
    }

    @media (max-width: 768px) {
      background-size: 30px;
      background-position: center 13px;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  @media (max-width: 1440px) {
    padding: 18px 26px;
    font-size: 15px;
  }

  @media (max-width: 576px) {
    padding: 14px 26px;
  }
}

.link {
  &--more {
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline $green;
    display: inline-block;
    transition: 0.3s;

    &:before {
      content: '';
      background-color: $green;
      background-image: url(../img/icons/about-arrow-right.svg);
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50px;
      width: 32px;
      height: 32px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      transition: 0.3s;
    }

    &:hover {
      text-decoration-color: $red;
      &:before {
        background-color: $red;
      }
    }
  }
}

.h1,
.h2,
.h3,
.h4 {
  color: $black;
  font-weight: 600;
}

.h1 {
  font-size: 60px;

  @media (max-width: 1680px) {
    font-size: 48px;
  }

  @media (max-width: 1280px) {
    font-size: 36px;
  }

  @media (max-width: 1024px) {
    font-size: 30px;
  }

  @media (max-width: 375px) {
    font-size: 26px;
  }
}

.h2 {
  font-size: 36px;

  @media (max-width: 1280px) {
    font-size: 30px;
  }

  @media (max-width: 1024px) {
    font-size: 24px;
  }

  @media (max-width: 375px) {
    font-size: 22px;
  }
}

.h4 {
  font-size: 20px;

  @media (max-width: 1280px) {
    font-size: 16px;
  }
}

.highlight {
  font-weight: 700;
  font-style: italic;
}
