.button {
    border-radius: 50px;
    background-color: $red;
    color: white;
    padding: 18px 36px;
    font-weight: 600;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.h1, .h2, .h3, .h4 {
    color: $black;
    font-weight: 600;
}

.h1 {
    font-size: 60px;

    @media (max-width: 1680px) {
        font-size: 48px;
    }

    @media (max-width: 1280px) {
        font-size: 36px;
    }

    @media (max-width: 1024px) {
        font-size: 30px;
    }
}

.h2 {
    font-size: 36px;

    @media (max-width: 1280px) {
        font-size: 30px;
    }

    @media (max-width: 1024px) {
        font-size: 24px;
    }
}