$red: #DF2E28;
$black: #1D1D1D;
$lightgrey1: #F5F7FB;
$lightgrey2: #747F95;
$lightgrey3: #A6B1C7;
$lightgrey4: #F2F3F5;
$lightgrey5: #ADB4C1;
$lightgrey6: #CCD5E7;
$lightgrey7: #5F6D89;
$lightgrey8: #C4C4C4;
$lightgreen: #DFECE9;
$green: #1D8745;