@import "variables";
@import "grid";
@import "typography";
@import "header";
@import "elements";
@import "footer";

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    color: $black;
    font-size: 16px;
}

input, textarea {
    outline-color: $black;
}